* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Zpix';
  src: url('../fonts/zpix.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-family);
  cursor: url(../images/blue.cur), auto;
  font-size: var(--font-size);
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
  user-select: none;
  outline: none;
}

:focus-visible {
  box-shadow: none !important;
  outline: none !important;
}

#app {
  height: 100vh;
  overflow: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
  animation: circle-in var(--transition-duration) ease-in;
}

:root:not(.dark)::view-transition-new(root) {
  animation: circle-out var(--transition-duration) ease-out;
}

@keyframes circle-in {
  from {
    clip-path: circle(0% at var(--click-x) var(--click-y));
  }
  to {
    clip-path: circle(150% at var(--click-x) var(--click-y));
  }
}

@keyframes circle-out {
  from {
    clip-path: circle(0% at var(--click-x) var(--click-y));
  }
  to {
    clip-path: circle(150% at var(--click-x) var(--click-y));
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 3px;
  transition: background 0.3s;

  &:hover {
    background: var(--scrollbar-thumb-hover);
  }
}

::-webkit-scrollbar-corner {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &:hover {
    scrollbar-color: var(--scrollbar-thumb) transparent;
  }
}

.el-scrollbar__bar.is-horizontal {
  display: none !important;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.page-title {
  position: relative;
  font-size: 16px;
  margin-bottom: 12px;
  padding-left: 10px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 22px;
    background-color: var(--primary-color);
  }
}

.page-container {
  padding: 20px;
}

.tabs-container {
  padding: 10px 20px;
}

.custom-tabs-label {
  display: flex;
  align-items: center;
  gap: 6px;
}